/* BODY */
.html, .body {
  height: 100%;
  margin: 0;
}


.body {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}


.body {
  background-color: #89b6d6;
  color: white;
  font-size:20px;
  /* Ajuda com o rodapé */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: navy;
  padding: 10px;
}

.navbar .logo {
  color: #F8F8F2;
  font-weight: bold;
  font-size: 20px;
}

.navbar-brand {
  display: flex;
  align-items: center; /* centraliza logo e texto */
  gap: 8px; /* espaço entre logo e nome */
}

.navbar-toggler {
  margin-left: auto; /* empurra o hambúrguer pra direita */
}

.navbar .nav-link {
  margin-top: 10px;
  color: #F8F8F2 ;
  border-radius: 20px; 
  transition: 0.2s ease;
  transform: translateY(38%);
  
}

#tetão .nav-link:hover{
 color:#D4AF37
}

#navbarNav{
  justify-content: center;
}

.navbar{
  background-color: #1B2A49;
}
.navbar .nav-link2 {
  padding: 0 !important; 
}


/* MENUS */

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu li a {
  color: #F8F8F2;
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 26px;
  color: #F8F8F2;
  cursor: pointer;
}


/* Mobile */
@media (max-width: 600px) {
  .menu {
    display: none;
    flex-direction: column;
    background: navy;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
    border-radius: 8px;
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
  
}


/* OUTRAS COISAS */


.paragrafo2{
  font-size:200px;
  margin-top: center;
}


.image {
  width: 100px;   
  height: auto;   
  margin-top: 20px;
  border-radius: 15px;
}

.imagemIgre {
  width: 200px;  
  margin-top: 20px;
  border-radius: 15px;
}


.padroeira {
  width:250px;   
  height: 300px;   
  margin-top: 20px;
  border-radius: 15px;
}


.imaculada{
  height:100px;
  width: 100px;
}


.teste{
  display: flex;
  align-items: center;
  justify-content: center;
}


.teste2{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.paragrafo1{
  font-size: 15px;
  font-family: Georgia;
  text-align: center;
 
}


.botao{
  pointer-events: none  !important; 
  font-family: Great Vibes;
  background-color: none !important;
  color:#F8F8F2 !important;
  transform: translateY(29%) !important;
  font: bold;
  cursor: default !important; 
}


.controle{
  transform: translateY(-20%) !important;
}


.cor{
  background-color: #1B2A49;
}


.fixo{
  position: fixed;
}

.fonte {
  text-align: center;
  color: #64748b;
  font-size: 0.9rem;
  margin-top: 12px;
}


.fonte{
 font-family: 'Poppins', sans-serif;
  font-weight: bold;
}


.parteInferiorPag{
  background: #1B2A49;
}


.baixoNav{
  background-color: #1B2A49;
  border-radius: 20px;
  height: 10px;
}

.fundoPadres{
  background-color: #1B2A49;
  border-radius: 20px;
}

.img-fluid{
  width: 80%;
  height: auto;
  margin: 20px;
}

.section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

#programacao{
  color: #ffffff;
}


#programacao2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
  width: 30%;
}

.espaco{
  margin-top: 40px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.separacao{
  border: none;
  border-top: 5px double #1B2A49;
  margin: 60px 5%;
}


.card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.teito{
  color: #1B2A49;
} 


.ajudaLink{
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
}

.conteudo{
    margin: 40px;
  }

.doacao{
  width: 40%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9b2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.butaDoacao{
  background-color: #1B2A49;
  font-weight: bold;
  color: white;
  border: none;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  transition: 0.1s;
}

.butaDoacao:hover{
  border: none;
  width: 250px;
  height: 150px;
  background-color: #1b2a49ee;
}



@media (max-width: 600px) {

  .site-main{
    font-size: 16px;
  }
  .conteudo{
    margin: 20px;
  }
  .img-fluid{
    width: 60%;
  }

  #programacao{
    font-size: 24px;
  }
  #programacao2{
    width: 60%;
  }

}


/* Ajuda com o rodapé */

.footer {
  margin-top: auto;
  
}


.site-main {
  flex: 1;
}

