/* NAVBAR */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: navy;
  padding: 10px;
}


.navbar .logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}


.navbar .nav-link {
  margin-top: 10px;
  color: white ;
  border-radius: 20px; 
  transition: 0.2s ease;
  transform: translateY(38%);
  
}


#tetão .nav-link:hover{
 color:goldenrod
}


#navbarNav{
  justify-content: center;
}


.navbar{
  background-color: #1B2A49;
}


.navbar .nav-link2 {
  padding: 0 !important; 
}


.navbar-brand {
  display: flex;
  align-items: center; /* centraliza logo e texto */
  gap: 8px; /* espaço entre logo e nome */
}


.navbar-toggler {
  margin-left: auto; /* empurra o hambúrguer pra direita */
}





/* MENUS */
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}


.menu li a {
  color: white;
  text-decoration: none;
}


.menu-icon {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}




/* Mobile */
@media (max-width: 600px) {
  .menu {
    display: none;
    flex-direction: column;
    background: navy;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
    border-radius: 8px;
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
  
}


/* OUTROS BAGUI */


.fundoPadres{
  background-color: #1B2A49;
  border-radius: 20px;
}


.cor{
  background-color: #1B2A49;
}


.parteInferiorPag{
  background: #1B2A49;
}


.iten{
  margin-left: 4px;
  margin-right: 4px;
}

.ajudaLink{
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
}

.separacao{
  border: none;
  border-top: 5px double #1B2A49;
  margin: 60px 5%;
}


.separacao2{
  border: none;
  border-top: 5px double #1B2A49;
  margin: 60px 5%;
}


.separacao3{
  border: none;
  border-top: 5px double #a3c9e2c4;
  margin: 60px 5%;
}



.baixoNav{
  background-color: #1B2A49;
  border-radius: 20px;
  height: 10px;
}


/* Ajuda com o rodapé */

.footer {
  margin-top: auto;
}


.site-main {
  flex: 1;
}



@media (max-width: 600px) {

  .fonte {
    text-align: center;
    color: #64748b;
    font-size: 0.9rem;
    margin-top: 12px;
  }

}