/* BODY */

.body {
  background-color: #89b6d6;
  color: white;
  font-size:20px;
  /* Ajuda com o rodapé */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* OUTROS BAGUI */

.paragafo2{
  font-size:200px;
  margin-top: center;
}


.image {
  width: 100px;   
  height: auto;   
  margin-top: 20px;
  border-radius: 15px;
}

.image2 {
  width: 15%;   
  height: 15%;   
  margin-top: 20px;
  border-radius: 15px;
}


.padroeira {
  width:250px;   
  height: 300px;   
  margin-top: 20px;
  border-radius: 15px;
}


.imaculada{

  height:100px;
  width: 100px;
}


.teste{
  display: flex;
  align-items: center;
  justify-content: center;
}


.teste2{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.botao{
  pointer-events: none  !important; 
  font-family: Great Vibes;
  background-color: none !important;
  color:white !important;
  transform: translateY(29%) !important;
  font: bold;
  cursor: default !important; 
}


.controle{
  transform: translateY(-20%) !important;
}


.fixo{
  position: fixed;
}


.fonte{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}




@media (max-width: 600px) {

  .site-main{
    font-size: 16px;
  }
  #je{
    width: 60%;
    margin-top: 20px;
  }
  .conteudo{
    margin: 20px;
  }

}


.img-fluid{
  width: 80%;
  height: auto;
}



