/* BODY */

.body {
  background-color: #89b6d6;
  color: white;
  font-size:20px;
  /* Ajuda com o rodapé */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* OUTROS BAGUI */

.paragafo2{
  font-size:200px;
  margin-top: center;
}


.image {
  width: 100px;   
  height: auto;   
  margin-top: 20px;
  border-radius: 15px;
}


.biblia{
  width: 250px;   
  height: 150px;   
  margin-top: 20px;
  border-radius: 15px;
}


.padroeira {
  width:250px;   
  height: 300px;   
  margin-top: 20px;
  border-radius: 15px;
}


.imaculada{
  height:100px;
  width: 100px;
}


.teste{
  display: flex;
  align-items: center;
  justify-content: center;
}


.teste2{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 
.botao{
  pointer-events: none  !important; 
  font-family: Great Vibes;
  background-color: none !important;
  color:white !important;
  transform: translateY(29%) !important;
  font: bold;
  cursor: default !important; 
}


.controle{
  transform: translateY(-20%) !important;
}


.fixo{
  position: fixed;
}


.fonte{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}


.caixaPerg{
  width: 60%;
}


.butaDoacao{
  background-color: #dbdbdbab;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  transition: 0.1s;
}


.butaProx{
  background-color: #dbdbdbab;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  transition: 0.1s;
}


.butaProx:hover{
  border: none;
  background-color: #dbdbdb;
}


.butaDoacao:hover{
  border: none;
  background-color: #dbdbdb;
}


.opG{
  margin-left: 50px;
  margin-right: 50px;
}


.hidden {
  display: none;
}


.caixa{
    width: 90%;
    min-width: 200px;
    max-width : 600px;
    color: black;
}


.btn-secondary{
  width: 420px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  padding: 12px 24px;
  font-weight: bold;
  transition: 0.3s;
}


#meuBotao{
  color: white;
  font-weight: bold;
  background-color: #1B2A49;
  border: none;
}


.btn-secondary:hover {
  background: #ffffff;
  transform: scale(1.025);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}


@media (max-width: 600px) {
  .btn-secondary {
    width: 340px;
    justify-content: center;
  }
  .paragrafo2{
    font-size: 20px;
  }

  .caixaPerg{
    width: 90%;
  }

  #question-text{
    font-size: 20px;
    margin: 20px;
  }

}

#resultado{  
  background-color: white;
}


.cor{
  /*background-color: #14213D;  Ou #1B2A49 para deixar uma versão mais clara do azul*/
  border-radius: 20px;
}


/* Quando passar o mouse */
.btn-option:hover {
    background-color: white;
    color: #1A2332; /* A cor do fundo escuro, para dar contraste */
}


/* Isso força a cor branca nas opções */


.btn-option {
    /* Texto branco */
    color: #ffffff !important; 
    
    
    /* Borda branca */
    border-color: #ffffff !important; 
    
    /* Fundo transparente para ver o azul do cartão */
    background-color: transparent !important; 
    
    /* Deixar um pouco mais grosso para ler melhor */
    font-weight: 500; 
}

/* --- EFEITO AO PASSAR O MOUSE (HOVER) --- */


.btn-option:hover {
    /* Fundo vira branco */
    background-color: #ffffff !important; 
    
    /* Texto vira preto (ou azul escuro) para dar leitura */
    color: #1A2332 !important; 
}


.esconder{
  display: none;;
}
