.image {
  width: 10px;   
  height: auto;   
  margin-top: 20px;
  border-radius: 15px;
  
}
.paragafo1{
  font-size:100px;
  margin-top: center;
}
.paragafo2{
  font-size:200px;
  margin-top: center;
}
.image {
  width: 100px;   
  height: auto;   
  margin-top: 20px;
  border-radius: 15px;
}
.imaculada{

  height:40px;
  width: 40px;
}
.teste{
  display: flex;
  align-items: center;
  justify-content: center;
}
.teste2{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragrafo1{
  font-size: 15px;
  font-family: Georgia;
  text-align: center;
 
}
 
.body {
  background-color: #001F54;
  color: white;
  font-size:20px;

}
.navbar .nav-link {
  color: white !important; 
}
