.image {
  width: 10px;   
  height: auto;   
  margin-top: 20px;
  border-radius: 15px;
  
}
.paragafo1{
  font-size:100px;
  margin-top: center;
}
.paragafo2{
  font-size:200px;
  margin-top: center;
}
.image {
  width: 100px;   
  height: auto;   
  margin-top: 20px;
  border-radius: 15px;
}
.padroeira {
  width:250px;   
  height: 300px;   
  margin-top: 20px;
  border-radius: 15px;
}
.imaculada{

  height:100px;
  width: 100px;
}
.teste{
  display: flex;
  align-items: center;
  justify-content: center;
}
.teste2{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragrafo1{
  font-size: 15px;
  font-family: Georgia;
  text-align: center;
 
}

 
.body {
  background-color: #001F54;
  color: white;
  font-size:20px;

}
.navbar .nav-link {
  margin-top: 10px;
  color: white ;
  border-radius: 20px; 
  transition-delay: 0.20s;
  transform: translateY(38%);
  
}

#tetão .nav-link:hover{
 color:goldenrod
}

#navbarNav{
  justify-content: center;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar .nav-link2 {
  padding: 0 !important; 
}
.botao{
 
  pointer-events: none  !important; 
  font-family: Great Vibes;
  background-color: white !important;
  color:black !important;

 
  cursor: default !important; 
 
}
